In [2]:
import pandas as pd
import json

In [10]:
df= pd.read_csv("tmdb_5000_credits.csv",sep=",")

In [16]:
crew = df["crew"].apply(json.loads) \
       .apply(pd.io.json.json_normalize)\
       .pipe(lambda x: pd.concat(x.values))

In [17]:
crew.loc[crew["job"]=="Director"]

,credit_id,department,gender,id,job,name
6,52fe48009251416c750ac9c3,Directing,2,2710,Director,James Cameron
1,52fe4232c3a36847f800b4fd,Directing,2,1704,Director,Gore Verbinski
1,52fe4d22c3a368484e1d8d77,Directing,2,39,Director,Sam Mendes
3,52fe4781c3a36847f8139865,Directing,2,525,Director,Christopher Nolan
1,52fe479ac3a36847f813ea65,Directing,2,7,Director,Andrew Stanton
...,...,...,...,...,...,...
10,52fe4df3c3a36847f8275eab,Directing,0,1219158,Director,Scott Smith
0,52fe4ad9c3a368484e16a36b,Directing,2,208138,Director,Daniel Hsia
2,52fe44e8c3a368484e03da8d,Directing,2,85563,Director,Brian Herzlinger
3,52fe44e8c3a368484e03da87,Directing,2,94471,Director,Jon Gunn
4,52fe44e8c3a368484e03da97,Directing,0,997560,Director,Brett Winn